body{
    margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}

/* header */
header
{margin-left: 20px;
    width: 100%;
    height:100vh;
    background-color: black;
    clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
}

.navbar
{
    width: 100%;
    height:100px;
    color: white;

display: flex;
flex-direction: left;
justify-content: space-between;
margin-top:10px;
align-items: center;
}

.navbar .logo
{
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(241, 9, 9);
    margin-left: 20px;

}
.navbar .logo span
{
    font-size: 80px;
    color:rgb(235, 112, 112);

}
.navbar .menu a{
    text-decoration: none;
    color:white;
    font-size:20px ;

    padding: 10px 20px;}

.navbar .menu a:first-child{
    border-bottom: 2px solid gray;
}
.navbar .menu a:hover{
    color:rgb(233, 102, 102);
    font-weight:bolder;
}

    .navbar .icon i
    {margin-right: 30px;
    font-size:20px ;
     letter-spacing: 0px;
    padding: 0px 0px;}


/* black */
    .container
    {height: max-content;
        width: 100%;
        display: flex;
        flex-direction: left;
    }
    .container .left img{
     border-radius: 40%;
    opacity: 0.7;
    filter:saturate(170%);
    margin-left: 70px;
    margin-top: 20px;
    
    }
    .container .right 
    {
        color:white;
        font-family: sans-serif;
        width: 350px;
        height: max-content;
        font-weight: normal;
        margin-left: 270px;
        margin-top: 20px;
    }
    .container .right p
    {font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
}
.container .right h1
{font-size: 40px;
    letter-spacing: 1px;
    color:rgb(235, 112, 112);
    text-shadow: 1px 1px 3px red;
}

.container .right button{
    font-size: 15px;
    background-color:transparent;
    color:white;
    border: 2px solid white;
    padding:6px 10px;
    margin-left: 100px;
    border-radius: 10px;
    


}
.container .right button:hover
{ background-color:lightgrey;
    color: black;
    border: 2px soild black;
}

/* 2nd portion */
/* section1 */

/* section1about us */

.section1
{
    background-color:white;
clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
height: 600px;
width:100%;
margin-left: 20px;

}

.container2
{ 
        display: flex;
        flex-direction: left;
        margin-top: 20px;

}
.container2 .right 
    {
        color:black;
        font-family: sans-serif;
        width: 400px;
        height: max-content;
        font-weight: normal;
        margin-left: 120px;
        margin-top: 20px;
    
    }
    .container2 .right p
    {font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
    word-spacing: 1px;
    border: 10px solid white;
}
.container2 .right h1
{font-size: 50px;
    letter-spacing: 3px;
    color: black;
    text-shadow: 3px 3px 3px black;
}
.container2 .right h1 span{
    
    text-shadow: 3px 3px 3px rgb(235, 112, 112);
color:rgb(235, 112, 112);}


.container2 .right h3
{
    font-size: 30px;
    letter-spacing: 1px;
    color: black; 
    text-shadow: 1px 1px 1px black;
}
.container2 .right button{
    font-size: 15px;
    background-color:rgb(235, 112, 112);
    color:black;
    border: 2px solid white;
    padding:6px 15px;
    margin-left: 70px;
    font-weight: bold;
    border-radius: 10px;
    


}
.container2 .right button:hover
{ background-color:lightgrey;
    color: black;
    border: 2px soild black;
}
.container2 .left img
 {border-radius: 10% 1% 1% 30%;

    filter:saturate(100%);
    margin-left: 150px;
     }

/* section3 body */
.section2
{ background-color:white;
clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
height:550px;
width:100%;
margin-left: 20px;
margin-top: 10px;

}

.container3
{
    display: flex;
    flex-direction: left;
    
    width:100%;
    line-height: 11px;
    height:min-content;
    clip-path polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
    
}
.container3 .left img{

margin-top: 30px;
margin-left: 40px;

}
.container .right 
{
    color:white;
    font-family: sans-serif;
    width: 350px;
    height: max-content;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 20px;
}

.container3 .right h1
{font-size: 60px;
letter-spacing: 1px;
color:black;
text-shadow: 2px 2px 3px black;
margin-left: 150px;

}
.container3 .right h3
{font-size: 30px;
    letter-spacing: 35px;
    color:gray;
    margin-left: 150px;
    font-weight: normal;
    margin-top: 0px;
    margin-left: 170px;
    }
    .container3 .right button{
        font-size: 15px;
        background-color:rgb(235, 112, 112);
        color:black;
        border: 2px solid white;
        padding:6px 20px;
        margin-left: 300px;
        font-weight: bold;
        border-radius: 10px;
    }
    .container3 .right button:hover
    { background-color:lightgrey;
        color: black;
        border: 2px soild black;
    }


/* services */
.section3
{ background-color:white;
clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
height:1100px;
width:100%;
margin-left: 20px;
margin-top: 10px;}


 .services .info
    {
        line-height: 15px;
        margin-top: 10px;
    }
    .services .info h1

    {margin-top: 110px;
font-size: 50px;
text-align: center;
text-shadow:  3px 3px 3px black;
font-weight: bolder;
    }
    
    .services .info h1 span

    {font-weight: bolder;
        color:rgb(235, 112, 112);
        text-shadow:  3px 3px 3px rgb(235, 112, 112);
    }
    .services .info h4

    {margin-top: 0px;
font-size: 25px;
text-align: center;
font-weight: bolder;
    }

    .grid
    {
        display: grid;
        
        grid-template-columns: 190px 190px 190px;
        grid-template-rows: 250px 250px 250px;
        grid-gap: 65px;
        margin-left: 280px;
        height: 730px;
     


    }
    .grid .div1
    {text-align:center;

        border: 10px solid whitesmoke;
        background-color:whitesmoke;
        box-shadow: 1px 10px 20px darkgray;
        
    
        
    }
    .grid .div1 i{
        font-size: 60px;
        color:rgb(235, 112, 112); 
        font-weight:bold;
    
    }
    .grid .div1 h3{
        font-size: 20px;
        font-weight: bolder;
    }




    /* member section */
    .section4
{ background-color:white;
clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
height:800px;
width:100%;
margin-left: 20px;
margin-top: 10px;}

    .member
    {
        display: inline-flex;
        flex-direction: left;
        margin-top: 60px;
    }
    .memberinfo
    {
        line-height: 15px;
        margin-top: 0px;
        width: 500px;
        height: max-content;
        margin-left: 400px;
        margin-top: 3px;
    }
    .member .memberinfo h1

    {
font-size: 50px;
text-align: center;
text-shadow:  3px 3px 3px black;
font-weight: bolder;
margin-top: 50px;
    }
    
    .member .memberinfo h1 span

    {font-weight: bolder;
        color:rgb(235, 112, 112);
        text-shadow:  3px 3px 3px rgb(235, 112, 112);
    }
    .member .memberinfo h4

    {margin-top: 0px;
font-size: 25px;
text-align: center;
font-weight: bolder;
    }
    .member .memberinfo img 
    {
        border-radius: 50%;
margin-left: 175px;
    }

    .member .memberinfo p
    {
        font-size: 18px;
text-align: center;
line-height: 22px;
    }

    .member .memberinfo h3
    {
        font-size: 18px;
text-align: center;
line-height: 22px;
    }

     .member .img
     {border-radius: 70%;
        position:relative;
        top:0px;
        right:0px;
        left: 120px;

     }
/* work section */
.section5
{ background-color:white;
clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
height:950px;
width:100%;
margin-left: 20px;
margin-top: 10px;
}




 .section5 .work .info h1

{margin-top:140px;
font-size: 50px;
text-align: center;
text-shadow:  3px 3px 3px black;
font-weight: bolder;
margin-top:90px;
}

.work .info h1 span

{font-weight: bolder;
    color:rgb(235, 112, 112);
    text-shadow:  3px 3px 3px rgb(235, 112, 112);
    
}
.work .info h4

{margin-top: 0px;
font-size: 25px;
text-align: center;
font-weight: bolder;
line-height: 1px;
}




.grid2{
    display: grid;
    grid-template-columns: 250px 250px 250px;    
    grid-template-rows: 200px 200px 200px; 
    text-align:center;   
    grid-gap: 10px;
    background-color:whitesmoke;
    width:max-content;
    height: 410px;
    margin-left: 250px;

}

/* touch */


.section6
{ background-color:white;
clip-path: polygon(0% 0% ,100% 0%,100% 100%,80% 80%,0% 100% );
height:990px;
width:100%;
margin-left: 20px;
margin-top: 10px;
}

.contact .info h1

    {margin-top: 120px;
font-size: 50px;
text-align: center;
text-shadow:  3px 3px 3px black;
font-weight: bolder;
    }
    
    .contact .info h1 span

    {font-weight: bolder;
        color:rgb(235, 112, 112);
        text-shadow:  3px 3px 3px rgb(235, 112, 112);
    }
    .contact .info h4

    {margin-top: 0px;
font-size: 25px;
text-align: center;
font-weight: bolder;
    }

    .last2
    {
        display: inline-flex;
        flex-direction: left;
        width:100%;
        height: max-content;
    }

    form{margin-top: 20px;
        margin-left: 120px;
        width:350px;
        height: max-content;
        background-color:whitesmoke;
        border:60px solid whitesmoke;

    }
    form input {
        border: 2px solid rgb(233, 102, 102);
        line-height: 20px;
        width: 350px;
        height: 60px;
        align-items: center;
    } 
    form textarea{border: 2px solid rgb(233, 102, 102);
        line-height: 20px;
        width: 350px;
        height: 160px;
    } 

    form button
    {border: 2px solid black;
        line-height: 20px;
        width: 360px;
        height: 40px;
    color:white;
font-size: 20px;
background-color:black;}
form button:hover
{
    color:black;
font-size: 25px;
background-color:lightgray;}
 .last2 .right{
     
     margin-left: 220px;
     margin-top: 30px;

 }


 .last2 .right p 
 {
     line-height: 5px;
 }.last2 .right i{
    
    padding:10px 12px;
    background-color:rgb(236, 126, 126);
 }
 .footer
 {
     background-color:black;
     width: 100%;
     height: 90px;
     color:white;
     text-align: center;
     line-height: 95px;
     
 }